.entry {
    border: 0.0625em solid #ccc;
    margin: 1.5em 0;
    padding: 0.5em;
    width: 50%;
}

.entry .info {
    padding: 0;
    margin: 0;
    font-size: 0.75em;
    border-bottom: 0.0833em dotted #ccc;
}
